body {
  font-family: "Prata", serif;
  background-color: rgb(190, 206, 281);
  font-size: 19px;
}
div {
  width: 1000px;
}
td {
  width: 480px;
  text-align: left;
}
img {
  height: 770px;
  width: 800px;
}

h3,
p {
  padding-left: 50px;
  padding-right: 30px;
}
.logopic {
  height: 200px;
  width: 800px;
  margin-left: 0px;
}
button {
  height: 70px;
  width: 200px;
  margin-right: 9px;
  font-family: "Prata", serif;
  font-size: 18.5px;
  border-radius: 15px;
}
.mr {
  background-color: rgb(207, 62, 101);
  margin-left: 50px;
}
.c {
  background-color: rgb(235, 130, 115);
}
.p {
  background-color: rgb(240, 155, 129);
}
.dr {
  background-color: rgb(227, 145, 183);
}
.mr:hover {
  background-color: rgb(187, 42, 81);
}
.c:hover {
  background-color: rgb(215, 110, 95);
}
.p:hover {
  background-color: rgb(220, 135, 109);
}
.dr:hover {
  background-color: rgb(207, 125, 163);
}
